*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    background-color: rgba(0, 0, blue, .25);
    border: 1px solid red;
}

img{
    width: 100%;
}

.wrapper{
    height: 100vh;
    background-color: rgb(50, 73, 117);
    color: white;
    overflow-y: scroll;
}

header{
    height: 80px;
    padding: 0 2rem;
    background-color: rgb(30, 43, 66);
}

main{
    height: calc(100vh - 80px);
}


.record{
    padding: 2rem;
    margin: 1.5rem 2rem;
    background-color: rgb(23, 34, 54);
    width: 300px;
    border-radius: 20px;

}

.card-image{
    overflow: hidden;
}

.title, .year{
    font-weight: bold;
}
.author{
    font-size: .7rem;
}
